@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.outer-container{
    background-color: #bff667;
}


h1 {
  font-size: 2rem;
  color: blueviolet;
  margin-bottom: 20px;
}
.qr-image {
  padding: 5px;
  box-shadow: 0 0 10px;
}
.app-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-label {
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 500;
}

input[type="text"] {
  padding: 12px;
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid blueviolet;
  border-radius: 10px;
}

button {
  padding: 15px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 50px;
}

.generate-button {
  background-color: #007bff;
}

.generate-button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.download-button {
  background-color: #28a745;
}

.download-button:hover {
  background-color: green;
}
